<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform processPath="C:\sites\qvault\venv\Scripts\python.exe" arguments="C:\sites\qvault\manage.py runserver %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile=".\public\logs\httpplatform-stdout">
            <environmentVariables>
                <environmentVariable name="SECRET_KEY" value="django-insecure-frzi^lt308gb*(m$-_=2&amp;vucc*@o$3(pyzf$dfyuj!2yrl@$y$" />
                <environmentVariable name="DEBUG" value="TRUE" />
                <environmentVariable name="DB_HOST" value="127.0.0.1" />
                <environmentVariable name="DB_PORT" value="5432" />
                <environmentVariable name="DB_NAME" value="dbname" />
                <environmentVariable name="DB_USER" value="dbuser" />
                <environmentVariable name="DB_PASSWORD" value="password" />
                <environmentVariable name="CORS_ALLOWED_ORIGINS" value="http://localhost:8090,http://213.14.142.87:8090,http://localhost:3000" />
                <environmentVariable name="ALLOWED_HOSTS" value="127.0.0.1,localhost,213.14.142.87,213.14.142.87:8090" />
            </environmentVariables>
        </httpPlatform>

    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^213\.14\.142\.87:8090$" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <proxy>
      <reverseProxy enabled="true" />
    </proxy>
        <cors enabled="true" failUnlistedOrigins="true">
            <add origin="http://213.14.142.87:8090" allowCredentials="true" maxAge="120">
                <allowMethods>
                    <add method="GET" />
                    <add method="POST" />
                    <add method="PATCH" />
                    <add method="DELETE" />
                    <add method="PUT" />
                </allowMethods>
                <allowHeaders>
                    <add header="Content-Type" />
                    <add header="Authorization" />
                </allowHeaders>
            </add>
            <add origin="http://localhost:8090" allowCredentials="true">
                <allowHeaders>
                    <add header="GET" />
                    <add header="POST" />
                    <add header="PUT" />
                    <add header="PATCH" />
                    <add header="DELETE" />
                </allowHeaders>
            </add>
        </cors>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\sites\qvault\manage.py" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="qvault.settings" />
    </appSettings>
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpGet" />
                <add name="HttpPost" />
            </protocols>
        </webServices>
    </system.web>
</configuration>